/* JS App Starter Styles */

/* ***** VARIABLES *****

$primaryColor:      #2C5D9C;
$primaryColorLight: #3570bc;
$primaryColorDark:  ?;
$lightAccentColor:  #D5DFEB;
$darkGrayColor:     #6C7B8B;
$lightGrayColor:    #F0F1F3;
$whiteColor:        #FFFFFF;
$blackColor:        #000000; 


$border-radius:     2px;

*/



/* OPTIONAL FONTS */
  /* Poppins & Roboto */
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700|Roboto&display=swap');

  /* Material Icon Font */ 
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

/* END OPTIONAL FONTS */


body {
  padding: 0;
  margin: 0;
  font: 16px/18px "Helvetica Neue", Roboto, sans-serif;
  color: #000000;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6 { line-height: 100%; }

.App {
  max-width: 720px;
  margin: auto;
  padding: 16px;
}


.hidden {
  display: none;
}

.card {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .24), 0 0 2px 0 rgba(0, 0, 0, .12);
}


/* FORMS */

label, input {
  cursor: pointer;
}

label {
  display: block;
  font-weight: bold;
  line-height: 16px;
}

input {
  display: block;
  margin: 8px 0 24px;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  padding: 8px;
  border: 1px solid #6C7B8B;
  border-radius: 2px;
  box-sizing: border-box;
}
input[type="radio"] {
  width: 16px;
  height: 16px;
}

button {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    background-color: #2C5D9C;
    padding: 8px;
    box-sizing: border-box;
    border: 0;
    border-radius: 2px;
}
  button:hover {
      background-color: #3570bc;
  }


/* Segmented Control (iOS 12 & Below-like toggle) */
.segmented-control {
  position: relative;
  display: inline-block;
  border: 1px solid #4A90E2;
  color: #4A90E2; 
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  overflow: hidden;
  margin: .8em auto;
  border-radius: 4px;
  box-sizing: border-box;
  user-select: none;
  width: 100%;
}
  .segmented-control > input {
    display: none;
  }
  .segmented-control > input + label {
    display: inline-block;
    width: 50%;
    text-align: center;
    padding: 10px 0;
  }
  .segmented-control > input:checked + label {
    background: #4A90E2;
    color: #fff;
  }



/* Segmented Options (iOS 13-like toggle) */
.segmented-options {
  border-radius: 800px;
  background: #f7f7f7;
}
  .segmented-options > input {
    display: none;
  }
    .segmented-options > input + label {
      display: inline-block;
      padding: 8px 0;
      width: 33%;
      text-align: center;
      border-radius: 800px;
    }
      .segmented-options > input + label:hover {
        background: #dceaf9;
      }
      .segmented-options > input + label:nth-child(2) {
        width: 34%;
      }
      .segmented-options > input:checked + label {
        background: #4A90E2;
        color: #fff;
          }
  

pre {
  padding: 24px;
  background-color: #efefef;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 20px;
  line-height: 24px;
}






/* GRIDS */

.grid {
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-gap: 24px;
}
  .col {
    align-self: end;
  }

  .rowActivity .col { grid-column: span 6; }
  .rowStep .col { grid-column: span 4; }
  .rowActivity .col:last-child, .rowStep .col:last-child {
    grid-column: span 1;
    align-self: center;
    margin-top: 18px;
  }



  /* MEDIA QUERIES */
